In [1]:
import pandas as pd
import numpy as np
import os
import webbrowser

In [17]:
#Get Working Directory
#cwd = os.getcwd()
cwd = 'C:\Vibhaas\personal\Data Science Study\Projects\Hackathon\Shaastra IIT M\Data_2\Crayon Data Complete Dataset'

# load the dataset
file = cwd+'\\cust_merch_cross.xlsx'
df_cust_merch_cross = pd.read_excel(file)

In [18]:
df_cust_merch_cross.head(10)

,merchant_name,0a0bada6_4a61_4eb5_bcad_833589a25f7a,0a0c0cc7_5316_49fa_ac23_41fa3672f2a5,0a0dfd54_f306_4ce7_9b84_610c4d24326f,0a00ba48_b98e_470f_9b9e_294d6d974f89,0a0e2b27_f96f_4ad2_972b_d47b255ae8a0,0a2edfbd_c465_4678_b84d_56116f74d3ae,0a3c5375_609e_42a1_b15d_c2b576de32f3,0a4b811c_97b8_456a_af36_602d3f35739e,0a4ec893_592c_4ce4_b229_3fdbc9ea71af,...,ffcae25b_ed4d_4237_91f4_c970fba7a551,ffcebaf9_82e2_493d_8be6_dc18fe6fb9e5,ffd6540c_b5e3_4cb5_872b_52487145cb3f,ffdbb2b8_6152_4498_912b_b6e8cb722222,ffdbd0f3_030c_4ea4_a329_f3e37b5d19bd,ffded7ab_abeb_47b7_a69c_43f8d14f3df4,ffe74ddf_acb1_4209_b33a_14f5cc7d23f0,ffe83d72_182b_4d75_bbfe_0bd3f8a7c134,ffee9ad7_c5f4_408f_82cc_e997e2b621af,ffff74f5_1ced_41b6_b710_062b73061096
0,#Bricks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,#Instafit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#OFF Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 Oak Cafe & Bar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 UP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10 Downing Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,100 Percent Rock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1000 Petals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100FT Boutique Bar Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,101 Vegetarian Kitchen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# load the dataset
file = cwd+'\\cust_merch.xlsx'
df_cust_merch = pd.read_excel(file)
df_cust_merch.head(10)

,customer_id,merchant_name,frequency
0,00015fc4-6fdc-4120-be42-a49e8bbe8cce,87 - Premier Inn,1
1,00015fc4-6fdc-4120-be42-a49e8bbe8cce,Angithi,1
2,00015fc4-6fdc-4120-be42-a49e8bbe8cce,Bengaluru Baking Company - JW Marriott,1
3,00015fc4-6fdc-4120-be42-a49e8bbe8cce,Burrito Boys,1
4,00015fc4-6fdc-4120-be42-a49e8bbe8cce,Cafe Oregano - Ramee Guestline Hotel,1
5,00015fc4-6fdc-4120-be42-a49e8bbe8cce,China Bowl,1
6,00015fc4-6fdc-4120-be42-a49e8bbe8cce,Club Patio,1
7,00015fc4-6fdc-4120-be42-a49e8bbe8cce,Dawat,1
8,00015fc4-6fdc-4120-be42-a49e8bbe8cce,Empire Restaurant,1
9,00015fc4-6fdc-4120-be42-a49e8bbe8cce,Fattoush,1

In [19]:
# Convert the running list of user ratings into a matrix using the 'pivot table' function
ratings_df_cust_merch = pd.pivot_table(df_cust_merch, index='customer_id', columns='merchant_name', aggfunc=np.sum)

In [20]:
ratings_df_cust_merch.head()

                                     frequency                        \
merchant_name                          #Bricks #Instafit #OFF Campus
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce       NaN       NaN         NaN
000c0667-af47-4229-acec-8b98590d1752       NaN       NaN         NaN
000caac6-9b6b-4a2e-81db-8cd765676a71       NaN       NaN         NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5       NaN       NaN         NaN
0019acea-38df-4de4-8b01-3b6dcf048f45       NaN       NaN         NaN

                                                                              \
merchant_name                        1 Oak Cafe & Bar 1 UP 10 Downing Street
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce              NaN  NaN               NaN
000c0667-af47-4229-acec-8b98590d1752              NaN  NaN               NaN
000caac6-9b6b-4a2e-81db-8cd765676a71              NaN  NaN               NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5              NaN  NaN               NaN
0019acea-38df-4de4-8b01-3b6dcf048f45              NaN  NaN               NaN

                                                                   \
merchant_name                        100 Percent Rock 1000 Petals
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce              NaN         NaN
000c0667-af47-4229-acec-8b98590d1752              NaN         NaN
000caac6-9b6b-4a2e-81db-8cd765676a71              NaN         NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5              NaN         NaN
0019acea-38df-4de4-8b01-3b6dcf048f45              NaN         NaN

                                                                    \
merchant_name                        100FT Boutique Bar Restaurant
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce                           NaN
000c0667-af47-4229-acec-8b98590d1752                           NaN
000caac6-9b6b-4a2e-81db-8cd765676a71                           NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5                           NaN
0019acea-38df-4de4-8b01-3b6dcf048f45                           NaN

                                                             ...    \
merchant_name                        101 Vegetarian Kitchen  ...
customer_id                                                  ...
00015fc4-6fdc-4120-be42-a49e8bbe8cce                    NaN  ...
000c0667-af47-4229-acec-8b98590d1752                    NaN  ...
000caac6-9b6b-4a2e-81db-8cd765676a71                    NaN  ...
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5                    NaN  ...
0019acea-38df-4de4-8b01-3b6dcf048f45                    NaN  ...

                                                                            \
merchant_name                        iSmart Spa and Salon kalyan Jewellers
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce                  NaN              NaN
000c0667-af47-4229-acec-8b98590d1752                  NaN              NaN
000caac6-9b6b-4a2e-81db-8cd765676a71                  NaN              NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5                  NaN              NaN
0019acea-38df-4de4-8b01-3b6dcf048f45                  NaN              NaN

                                                                        \
merchant_name                        la fitnesse mm! maroosh mylescars
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce         NaN         NaN       NaN
000c0667-af47-4229-acec-8b98590d1752         NaN         NaN       NaN
000caac6-9b6b-4a2e-81db-8cd765676a71         NaN         NaN       NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5         NaN         NaN       NaN
0019acea-38df-4de4-8b01-3b6dcf048f45         NaN         NaN       NaN

                                                                              \
merchant_name                        nearbuy Cafeteria nofilter rasna Punjab
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce               NaN      NaN          NaN
000c0667-af47-4229-acec-8b98590d1752               NaN      NaN          NaN
000caac6-9b6b-4a2e-81db-8cd765676a71               NaN      NaN          NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5               NaN      NaN          NaN
0019acea-38df-4de4-8b01-3b6dcf048f45               NaN      NaN          NaN

                                                                                  \
merchant_name                        recess - Hilton Bangalore Embassy GolfLinks
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce                                         NaN
000c0667-af47-4229-acec-8b98590d1752                                         NaN
000caac6-9b6b-4a2e-81db-8cd765676a71                                         NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5                                         NaN
0019acea-38df-4de4-8b01-3b6dcf048f45                                         NaN


merchant_name                        swiggy
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce    NaN
000c0667-af47-4229-acec-8b98590d1752    NaN
000caac6-9b6b-4a2e-81db-8cd765676a71    NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5    NaN
0019acea-38df-4de4-8b01-3b6dcf048f45    NaN

[5 rows x 8815 columns]

In [41]:
ratings_df_cust_merch1 = ratings_df_cust_merch.iloc[:500, :500]

In [42]:
ratings_df_cust_merch1.shape

(500, 500)

In [43]:
ratings_df_cust_merch1.head()

                                     frequency                        \
merchant_name                          #Bricks #Instafit #OFF Campus
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce       NaN       NaN         NaN
000c0667-af47-4229-acec-8b98590d1752       NaN       NaN         NaN
000caac6-9b6b-4a2e-81db-8cd765676a71       NaN       NaN         NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5       NaN       NaN         NaN
0019acea-38df-4de4-8b01-3b6dcf048f45       NaN       NaN         NaN

                                                                              \
merchant_name                        1 Oak Cafe & Bar 1 UP 10 Downing Street
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce              NaN  NaN               NaN
000c0667-af47-4229-acec-8b98590d1752              NaN  NaN               NaN
000caac6-9b6b-4a2e-81db-8cd765676a71              NaN  NaN               NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5              NaN  NaN               NaN
0019acea-38df-4de4-8b01-3b6dcf048f45              NaN  NaN               NaN

                                                                   \
merchant_name                        100 Percent Rock 1000 Petals
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce              NaN         NaN
000c0667-af47-4229-acec-8b98590d1752              NaN         NaN
000caac6-9b6b-4a2e-81db-8cd765676a71              NaN         NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5              NaN         NaN
0019acea-38df-4de4-8b01-3b6dcf048f45              NaN         NaN

                                                                    \
merchant_name                        100FT Boutique Bar Restaurant
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce                           NaN
000c0667-af47-4229-acec-8b98590d1752                           NaN
000caac6-9b6b-4a2e-81db-8cd765676a71                           NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5                           NaN
0019acea-38df-4de4-8b01-3b6dcf048f45                           NaN

                                                               ...     \
merchant_name                        101 Vegetarian Kitchen    ...
customer_id                                                    ...
00015fc4-6fdc-4120-be42-a49e8bbe8cce                    NaN    ...
000c0667-af47-4229-acec-8b98590d1752                    NaN    ...
000caac6-9b6b-4a2e-81db-8cd765676a71                    NaN    ...
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5                    NaN    ...
0019acea-38df-4de4-8b01-3b6dcf048f45                    NaN    ...

                                                                        \
merchant_name                        Arbab Cafe Arctic Ardor Ardor 2.1
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce        NaN    NaN   NaN       NaN
000c0667-af47-4229-acec-8b98590d1752        NaN    NaN   NaN       NaN
000caac6-9b6b-4a2e-81db-8cd765676a71        NaN    NaN   NaN       NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5        NaN    NaN   NaN       NaN
0019acea-38df-4de4-8b01-3b6dcf048f45        NaN    NaN   NaN       NaN

                                                                         \
merchant_name                        Area 69 Area 78 Arena - Taj Deccan
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce     NaN     NaN                NaN
000c0667-af47-4229-acec-8b98590d1752     NaN     NaN                NaN
000caac6-9b6b-4a2e-81db-8cd765676a71     NaN     NaN                NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5     NaN     NaN                NaN
0019acea-38df-4de4-8b01-3b6dcf048f45     NaN     NaN                NaN

                                                                         \
merchant_name                        Arena48 Areopagus Japanese Day Spa
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce     NaN                        NaN
000c0667-af47-4229-acec-8b98590d1752     NaN                        NaN
000caac6-9b6b-4a2e-81db-8cd765676a71     NaN                        NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5     NaN                        NaN
0019acea-38df-4de4-8b01-3b6dcf048f45     NaN                        NaN


merchant_name                        Arey Wah!
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce       NaN
000c0667-af47-4229-acec-8b98590d1752       NaN
000caac6-9b6b-4a2e-81db-8cd765676a71       NaN
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5       NaN
0019acea-38df-4de4-8b01-3b6dcf048f45       NaN

[5 rows x 500 columns]

In [44]:
import matrix_factorization_utilities
# Apply matrix factorization to find the latent features
U, M = matrix_factorization_utilities.low_rank_matrix_factorization(ratings_df_cust_merch1.as_matrix(),
                                                                    num_features=15,
                                                                    regularization_amount=0.1)

C:\Users\kvibhaas\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

Warning: Maximum number of iterations has been exceeded.
         Current function value: 40.312383
         Iterations: 3000
         Function evaluations: 4459
         Gradient evaluations: 4459

In [49]:
print(M)

[[ 2.99736095e-27 -3.53051640e-01 -1.91003424e-01 ...  3.10148148e-01
  -7.82907060e-27 -3.07672635e-01]
 [-1.08724710e-26 -5.05488803e-02 -2.11150496e-01 ...  4.28884941e-01
   1.70057661e-26 -2.65296736e-01]
 [-4.77546657e-27 -3.84989394e-01 -2.52588936e-01 ...  3.09126447e-01
   8.31859613e-27 -2.71966938e-01]
 ...
 [ 1.58467017e-26 -1.58475423e-01 -3.48256382e-01 ... -2.13084726e-01
   1.20045739e-26 -1.53345806e-01]
 [-6.03952883e-27  3.27411422e-02 -1.59770635e-01 ... -8.57572953e-02
  -1.04777518e-26 -1.13534516e-01]
 [-2.35851284e-26  3.91757599e-01  3.98293998e-01 ...  1.96927778e-01
  -7.84281049e-27  1.93826031e-01]]

In [56]:
M.shape

(15, 500)

In [54]:
# Find all predicted ratings by multiplying the U by M
predicted_ratings = np.matmul(U, M)

In [ ]:
import pickle
# Save features and predicted ratings to files for later use
pickle.dump(U, open("user_features.dat", "wb"))
pickle.dump(M, open("product_features.dat", "wb"))
pickle.dump(predicted_ratings, open("predicted_ratings.dat", "wb" ))

In [46]:
# Save all the ratings to a csv file
predicted_ratings_df = pd.DataFrame(index=ratings_df_cust_merch1.index,
                                    columns=ratings_df_cust_merch1.columns,
                                    data=predicted_ratings)
predicted_ratings_df.to_csv("predicted_ratings.csv")

In [47]:
predicted_ratings_df.head()

                                         frequency                        \
merchant_name                              #Bricks #Instafit #OFF Campus
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce -3.298279e-27  0.252598    0.303289
000c0667-af47-4229-acec-8b98590d1752  6.399338e-27  0.213957    0.283178
000caac6-9b6b-4a2e-81db-8cd765676a71 -7.758811e-27  0.598529    0.676900
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5 -1.021783e-26  0.367971    0.373248
0019acea-38df-4de4-8b01-3b6dcf048f45  2.002492e-27  0.391714    0.539482

                                                                     \
merchant_name                        1 Oak Cafe & Bar          1 UP
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce    -1.949116e-26 -5.747087e-27
000c0667-af47-4229-acec-8b98590d1752    -1.071703e-26 -1.656449e-27
000caac6-9b6b-4a2e-81db-8cd765676a71    -2.277624e-26 -7.807459e-27
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5    -2.108633e-26 -6.440558e-29
0019acea-38df-4de4-8b01-3b6dcf048f45    -9.857042e-27 -8.970195e-27

                                                                         \
merchant_name                        10 Downing Street 100 Percent Rock
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce          0.111140         0.164557
000c0667-af47-4229-acec-8b98590d1752          0.487321         0.293069
000caac6-9b6b-4a2e-81db-8cd765676a71          0.636953         0.771617
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5          0.364887         0.442837
0019acea-38df-4de4-8b01-3b6dcf048f45          0.945896         0.596529

                                                    \
merchant_name                          1000 Petals
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce -3.255908e-27
000c0667-af47-4229-acec-8b98590d1752  1.101030e-27
000caac6-9b6b-4a2e-81db-8cd765676a71 -2.714555e-27
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5  7.162020e-29
0019acea-38df-4de4-8b01-3b6dcf048f45 -2.910865e-27

                                                                    \
merchant_name                        100FT Boutique Bar Restaurant
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce                      0.500888
000c0667-af47-4229-acec-8b98590d1752                      0.503070
000caac6-9b6b-4a2e-81db-8cd765676a71                      0.627580
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5                      0.492748
0019acea-38df-4de4-8b01-3b6dcf048f45                      0.509851

                                                               ...     \
merchant_name                        101 Vegetarian Kitchen    ...
customer_id                                                    ...
00015fc4-6fdc-4120-be42-a49e8bbe8cce              -0.270962    ...
000c0667-af47-4229-acec-8b98590d1752               0.115052    ...
000caac6-9b6b-4a2e-81db-8cd765676a71               0.279954    ...
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5               0.136464    ...
0019acea-38df-4de4-8b01-3b6dcf048f45               0.150453    ...

                                                                         \
merchant_name                        Arbab Cafe        Arctic     Ardor
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce   0.035168 -1.693442e-26  0.282270
000c0667-af47-4229-acec-8b98590d1752  -0.087187 -8.763826e-27  0.388147
000caac6-9b6b-4a2e-81db-8cd765676a71  -0.094368 -2.556101e-26  0.555237
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5   0.031112 -1.488847e-26  0.434181
0019acea-38df-4de4-8b01-3b6dcf048f45   0.066102 -1.309226e-26  0.420383

                                                                        \
merchant_name                            Ardor 2.1   Area 69   Area 78
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce -5.180866e-27  0.291027  0.506357
000c0667-af47-4229-acec-8b98590d1752 -1.257428e-27  0.400342  0.288371
000caac6-9b6b-4a2e-81db-8cd765676a71  3.348925e-27  0.768839  0.633202
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5  4.400546e-29  0.463522  0.354047
0019acea-38df-4de4-8b01-3b6dcf048f45  3.093993e-27  0.579936  0.467128

                                                                   \
merchant_name                        Arena - Taj Deccan   Arena48
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce           0.538922  0.765290
000c0667-af47-4229-acec-8b98590d1752           0.286473  0.255988
000caac6-9b6b-4a2e-81db-8cd765676a71           0.485256  0.131843
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5           0.364226  0.366498
0019acea-38df-4de4-8b01-3b6dcf048f45           0.363058  0.142658


merchant_name                        Areopagus Japanese Day Spa Arey Wah!
customer_id
00015fc4-6fdc-4120-be42-a49e8bbe8cce              -3.087755e-27  0.282565
000c0667-af47-4229-acec-8b98590d1752              -1.125499e-26  0.370350
000caac6-9b6b-4a2e-81db-8cd765676a71              -1.086651e-26  0.546261
0016ee8d-e2d6-4dd9-9559-3be13e9f53b5              -9.956754e-27  0.424703
0019acea-38df-4de4-8b01-3b6dcf048f45               1.340233e-27  0.413491

[5 rows x 500 columns]

In [111]:
# load the dataset
file1 = cwd+'\\cust_mcc100.xlsx'
df_cust_mcc100 = pd.read_excel(file1)

file2 = cwd+'\\merch_mcc_100.xlsx'
df_merch_mcc100 = pd.read_excel(file2)

In [112]:
df_cust_mcc100.head()

,customer_id,1001,1002,1003,1004,1006,3014,3017,3055,3086,...,5817,5832,5931,5950,5963,5967,5968,5970,7277,7841
0,2de9c7a4-8385-4cd2-8e5f-688067599eec,5,4,0,0,0,0,18,2,0,...,1,1,0,0,2,0,2,0,0,0
1,3896674f-741d-4185-87ca-7853986c146e,7,0,0,5,0,0,7,5,0,...,0,0,0,3,0,1,0,1,0,0
2,eb95286f-2941-4931-b7c3-6a718d64f64b,0,0,0,5,0,0,0,3,0,...,0,0,0,0,0,0,0,7,0,0
3,227714a3-e0a9-4260-8d67-fc22665b4992,7,1,0,23,0,0,14,2,0,...,0,1,1,0,0,0,0,3,0,0
4,ad75e347-74f9-4f61-bbdc-91e1e879e0db,8,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,1,8,0,0

In [113]:
df_merch_mcc100.head()

,merchant_name,Fairmont Hotels & Resorts,Thomas Cook,Swissotel Hotels & Resorts,Fab Hotels,The Pride Hotel,GOLDEN RESIDENCY,Expedia,Lemon Tree,The Executive Centre,...,Cityfurnish,Platinum Motors,Devara Bhavani,POOJA ELECTRICAL,MATHESWARI HARDWARE,1mg,MANI CREATIONS,HTC,Bansal electrovision pvt ltd,Cambridge Apparels
0,1001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
df_cust_mcc100.values

array([['2de9c7a4-8385-4cd2-8e5f-688067599eec', 5, 4, ..., 0, 0, 0],
       ['3896674f-741d-4185-87ca-7853986c146e', 7, 0, ..., 1, 0, 0],
       ['eb95286f-2941-4931-b7c3-6a718d64f64b', 0, 0, ..., 7, 0, 0],
       ...,
       ['05bbc0c2-4804-4469-981d-16d75c8b8a36', 9, 1, ..., 0, 0, 0],
       ['49359cf5-3613-47f3-8217-37e9cde92f14', 15, 0, ..., 0, 0, 0],
       ['51d4f59a-04ba-457a-8984-1ad9c30acb30', 17, 0, ..., 0, 0, 0]],
      dtype=object)

In [114]:
df_cust_mcc100.values.shape

(100, 101)

In [115]:
df_merch_mcc100.values.shape

(100, 101)

In [116]:
df_cust_mcc100_1 = df_cust_mcc100.iloc[:, 1:]

In [117]:
df_cust_mcc100_1.shape

(100, 100)

In [118]:
cust_a = df_cust_mcc100_1.values

In [119]:
df_merch_mcc100_1 = df_merch_mcc100.iloc[:, 1:]

In [120]:
df_merch_mcc100_1.shape

(100, 100)

In [121]:
merch_a = df_merch_mcc100_1.values

In [122]:
type(cust_a)

numpy.ndarray

In [92]:
# Find all predicted ratings by multiplying the U by M
multi_custmerch = np.matmul(cust_a, merch_a)

In [96]:
type(multi_custmerch)

numpy.ndarray

In [97]:
multi_custmerch1 = pd.DataFrame(multi_custmerch)

In [98]:
multi_custmerch1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,86845,239202,58940,0,36524,0,0,36268,0,0,...,16568,0,0,0,4098,0,0,0,0,22275
1,121583,93023,82516,0,36524,0,0,0,0,8853,...,16568,4142,0,26767,8196,0,26572,0,14175,8100
2,0,0,0,0,0,0,0,0,0,26559,...,4142,28994,0,8236,0,12264,4088,0,8100,10125
3,121583,186046,82516,0,45655,0,0,9067,0,0,...,10355,6213,0,8236,4098,4088,2044,0,8100,18225
4,138952,0,94304,0,0,0,0,0,0,0,...,20710,12426,0,0,0,6132,18396,0,10125,10125

In [123]:

# Standardize the data attributes for the Iris dataset.

from sklearn import preprocessing

# separate the data and target attributes
X = df_cust_mcc100_1
y = df_merch_mcc100_1
# standardize the data attributes
standardized_X = preprocessing.scale(X)
standardized_y = preprocessing.scale(y)

C:\Users\kvibhaas\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.
  # Remove the CWD from sys.path while we load stuff.
C:\Users\kvibhaas\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.
  # This is added back by InteractiveShellApp.init_path()

In [124]:
print(standardized_X)

[[-0.30700593  3.17399171 -0.2773501  ... -0.4410715  -0.29488391
  -0.33405908]
 [ 0.19628248 -0.38230152 -0.2773501  ...  0.09033995 -0.29488391
  -0.33405908]
 [-1.56522695 -0.38230152 -0.2773501  ...  3.27880862 -0.29488391
  -0.33405908]
 ...
 [ 0.69957089  0.50677179 -0.2773501  ... -0.4410715  -0.29488391
  -0.33405908]
 [ 2.20943611 -0.38230152 -0.2773501  ... -0.4410715  -0.29488391
  -0.33405908]
 [ 2.71272452 -0.38230152 -0.2773501  ... -0.4410715  -0.29488391
  -0.33405908]]

In [125]:
print(standardized_y)

[[-0.10050378 -0.10050378 -0.10050378 ... -0.10050378 -0.10050378
  -0.10050378]
 [-0.10050378 -0.10050378 -0.10050378 ... -0.10050378 -0.10050378
  -0.10050378]
 [-0.10050378 -0.10050378 -0.10050378 ... -0.10050378 -0.10050378
  -0.10050378]
 ...
 [-0.10050378 -0.10050378 -0.10050378 ... -0.10050378 -0.10050378
  -0.10050378]
 [-0.10050378 -0.10050378 -0.10050378 ... -0.10050378 -0.10050378
  -0.10050378]
 [-0.10050378 -0.10050378 -0.10050378 ... -0.10050378 -0.10050378
  -0.10050378]]

In [126]:
# Find all predicted ratings by multiplying the U by M
multi_custmerch_std = np.matmul(standardized_X, standardized_y)

In [127]:
pd.DataFrame(multi_custmerch_std).head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,11.743878,14.744003,11.743878,-10.560568,0.840886,0.081019,-9.457869,-10.131453,6.000626,1.147846,...,31.519206,-6.751980,1.914266,-18.672869,3.805010,22.883743,-0.748457,-6.000374,24.282414,21.062660
1,-0.988605,-6.135126,-0.988605,-0.766501,-9.486089,-5.678302,-7.871307,3.753604,-6.249432,-1.159713,...,-5.276080,-5.165418,3.500828,-17.086307,2.815398,-5.577716,8.226492,8.169191,-3.589204,-7.072562
2,-10.136355,9.555228,-10.136355,-8.422418,-9.521719,-5.713932,-7.906937,-8.580521,-9.744217,-1.195343,...,-5.311710,-5.201048,-12.189335,1.493421,-12.677271,-5.613346,37.744407,0.583759,-3.624834,32.520853
3,8.378902,14.339384,8.378902,-8.021214,-9.230701,-9.095855,-7.615919,-8.289503,-9.453199,-8.692567,...,-5.020692,-4.910030,-4.071051,-10.625800,-12.386254,-5.322328,-6.294893,0.874777,-3.333817,-6.817174
4,-10.423109,-6.457510,-10.423109,6.395852,-5.837293,-2.327744,28.920381,9.580468,-3.112660,2.412024,...,-5.598463,14.181048,8.396622,-8.101012,-0.083158,54.195943,-6.872664,-2.219595,-3.911588,-7.394946

In [128]:
# normalize the data attributes
normalized_X = preprocessing.normalize(X)
normalized_y = preprocessing.normalize(y)

In [129]:
# Find all predicted ratings by multiplying the U by M
multi_custmerch_nor = np.matmul(normalized_X, normalized_y)

In [130]:
pd.DataFrame(multi_custmerch_nor).head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.376486,0.252780,0.255514,0.000000,0.075834,0.075834,0.000000,0.000000,0.126390,0.075834,...,0.075834,0.000000,0.057062,0.000000,0.070737,0.050556,0.025278,0.034574,0.025278,0.075834
1,0.165487,0.000000,0.112313,0.085714,0.000000,0.028571,0.000000,0.143397,0.028571,0.057143,...,0.000000,0.000000,0.064496,0.000000,0.071070,0.000000,0.057143,0.078157,0.000000,0.000000
2,0.000000,0.164763,0.000000,0.000000,0.000000,0.023538,0.000000,0.000000,0.000000,0.047075,...,0.000000,0.000000,0.013283,0.066341,0.014637,0.000000,0.141225,0.045071,0.000000,0.094150
3,0.285874,0.222104,0.194017,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.034817,0.023185,0.015346,0.000000,0.000000,0.047255,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.164646,0.027441,0.054882,0.274411,0.206585,0.054882,0.082323,...,0.000000,0.027441,0.077431,0.038672,0.059726,0.109764,0.000000,0.045039,0.000000,0.000000

In [134]:
pd.DataFrame(df_cust_mcc100_1).to_csv("df_cust_mcc100_1")
pd.DataFrame(df_merch_mcc100_1).to_csv("df_merch_mcc100_1")
pd.DataFrame(multi_custmerch_std).to_csv("multi_custmerch_std")
pd.DataFrame(multi_custmerch_nor).to_csv("multi_custmerch_nor")

In [135]:
# load the dataset
file1 = cwd+'\\cust_mcc1.xlsx'
df_cust_mcc1 = pd.read_excel(file1)

file2 = cwd+'\\merch_mcc.xlsx'
df_merch_mcc1 = pd.read_excel(file2)

In [ ]:
df_cust_mcc1.head()

In [138]:
print(df_cust_mcc1.values.shape)
print(df_merch_mcc1.values.shape)

(177, 11826)
(8822, 179)

In [139]:
df_cust_mcc1.head()

,customer_id,00015fc4-6fdc-4120-be42-a49e8bbe8cce,000c0667-af47-4229-acec-8b98590d1752,000caac6-9b6b-4a2e-81db-8cd765676a71,0016ee8d-e2d6-4dd9-9559-3be13e9f53b5,0019acea-38df-4de4-8b01-3b6dcf048f45,002009ca-739b-48a6-a040-5d46b0ab402e,0023c164-f35c-4f67-b706-d6954c0e816c,002b0186-9b02-48ac-823e-44d66cc7684a,002e4a53-c1b2-44cc-ac76-5823680d1ef1,...,ffcae25b-ed4d-4237-91f4-c970fba7a551,ffcebaf9-82e2-493d-8be6-dc18fe6fb9e5,ffd6540c-b5e3-4cb5-872b-52487145cb3f,ffdbb2b8-6152-4498-912b-b6e8cb722222,ffdbd0f3-030c-4ea4-a329-f3e37b5d19bd,ffded7ab-abeb-47b7-a69c-43f8d14f3df4,ffe74ddf-acb1-4209-b33a-14f5cc7d23f0,ffe83d72-182b-4d75-bbfe-0bd3f8a7c134,ffee9ad7-c5f4-408f-82cc-e997e2b621af,ffff74f5-1ced-41b6-b710-062b73061096
0,1001,0,1,5,1,0,6,0,0,0,...,0,7,0,3,0,0,0,3,2,0
1,1002,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,8,0,0,0,14,0,4,9,2,...,0,0,6,0,0,0,0,12,0,0
4,1006,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,1,0

In [141]:
df_cust_mcc1_1 = df_cust_mcc1.iloc[:, 1:]

In [143]:
df_cust_mcc1_1.shape

(177, 11825)

In [147]:
df_merch_mcc1.shape

(8822, 179)

In [158]:
df_merch_mcc1.head()

,merchant_name,total,1001,1002,1003,1004,1006,3014,3017,3055,...,7941,7991,7992,7993,7994,7995,7996,7997,7998,7999
0,#Bricks,54.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,#Instafit,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,#OFF Campus,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1 Oak Cafe & Bar,NaN,0,0,0,27,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1 UP,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [160]:
df_merch_mcc2 = df_merch_mcc1.drop(['total'], axis=1)

In [166]:
df_merch_mcc2.head()

,merchant_name,1001,1002,1003,1004,1006,3014,3017,3055,3086,...,7941,7991,7992,7993,7994,7995,7996,7997,7998,7999
0,#Bricks,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,#Instafit,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,#OFF Campus,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1 Oak Cafe & Bar,0,0,0,27,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1 UP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [145]:
df_merch_mcc1_1 = df_merch_mcc1.iloc[:, 2:]

In [148]:
df_merch_mcc1_1

<bound method NDFrame.head of       1001  1002  1003  1004  1006  3014  3017  3055  3086  3097  ...   7941  \
0        0     0     0     0     0     0     0     0     0     0  ...      0
1        0     0     0     0     0     0     0     0     0     0  ...      0
2        0     0     0     0     0     0     0     0     0     0  ...      0
3        0     0     0    27     0     0     0     0     0     0  ...      0
4        0     0     0     0     0     0     0     0     0     0  ...      0
5        0     0     0     0     0     0     0     0     0     0  ...      0
6        0     0     0     0     0     0     0     0     0     0  ...      0
7        0     0     0     0     0     0     0     0     0     0  ...      0
8        0     0     0    63     0     0     0     0     0     0  ...      0
9        0     0     0     0     0     0     0     0     0     0  ...      0
10       0     0     0    46     0     0     0     0     0     0  ...      0
11       0     0     0     0     0     0     0     0     0     0  ...      0
12       0     0     0     0     0     0     0     0     0     0  ...      0
13       0     0     0    55     0     0     0     0     0     0  ...      0
14       0     0     0     0     0     0     0     0     0     0  ...      0
15       0     0     0     0     0     0     0     0     0     0  ...      0
16       0     0     0     0     0     0     0     0     0     0  ...      0
17       0     0     0    60     0     0     0     0     0     0  ...      0
18       0     0     0    54     0     0     0     0     0     0  ...      0
19       0     0     0     0     0     0     0     0     0     0  ...      0
20       0     0     0     0     0     0     0     0     0     0  ...      0
21       0     0     0     0     0     0     0     0     0     0  ...      0
22       0     0     0     0     0     0     0     0     0     0  ...      0
23       0     0     0     0     0     0     0     0     0     0  ...      0
24       0     0     0    52     0     0     0     0     0     0  ...      0
25       0     0     0     0     0     0     0     0     0     0  ...      0
26       0     0     0     0     0     0     0     0     0     0  ...      0
27       0     0     0     0     0     0     0     0     0     0  ...      0
28       0     0     0     0     0     0     0     0     0     0  ...      0
29       0     0     0    63     0     0     0     0     0     0  ...      0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...    ...
8792     0     0     0     0     0     0     0     0     0     0  ...      0
8793     0     0     0     0     0     0     0     0     0     0  ...      0
8794     0     0     0     0     0     0     0     0     0     0  ...      0
8795     0     0     0     0     0     0     0     0     0     0  ...      0
8796     0     0     0     0     0     0     0     0     0     0  ...      0
8797     0     0     0     0     0     0     0     0     0     0  ...      0
8798     0     0     0     0     0     0     0     0     0     0  ...      0
8799     0     0     0     0     0     0     0     0     0     0  ...      0
8800     0     0     0     0     0     0     0     0     0     0  ...      0
8801     0     0     0     0     0     0     0     0     0     0  ...      0
8802     0     0     0     0     0     0     0     0     0     0  ...      0
8803     0     0     0     0     0     0     0     0     0     0  ...      0
8804     0     0     0     0     0     0     0     0     0     0  ...      0
8805     0     0     0    52     0     0     0     0     0     0  ...      0
8806     0     0     0     0     0     0     0     0     0     0  ...      0
8807     0     0     0     0     0     0     0     0     0     0  ...      0
8808     0     0     0     0     0     0     0     0     0     0  ...      0
8809     0     0     0     0     0     0     0     0     0     0  ...      0
8810     0     0     0     0     0     0     0     0     0     0  ...      0
8811     0     0     0     0     0     0     0     0     0     0  ...      0
8812     0     0     0     0     0     0     0     0     0     0  ...      0
8813     0     0     0     0     0     0     0     0     0     0  ...      0
8814     0     0     0     0     0     0     0     0     0     0  ...      0
8815     0     0     0    64     0     0     0     0     0     0  ...      0
8816     0     0     0     0     0     0     0     0     0     0  ...      0
8817     0     0     0     0     0     0     0     0     0     0  ...      0
8818     0     0     0     0     0     0     0     0     0     0  ...      0
8819     0     0     0    65     0     0     0     0     0     0  ...      0
8820     0     0     0     0     0     0     0     0     0     0  ...      0
8821     0     0     0     0     0     0     0     0     0     0  ...      0

      7991  7992  7993  7994  7995  7996  7997  7998  7999
0        0     0     0     0     0     0     0     0     0
1        0     0     0     0     0     0     0     0     0
2        0     0     0     0     0     0     0     0     0
3        0     0     0     0     0     0     0     0     0
4        0     0     0     0     0     0     0     0     0
5        0     0     0     0     0     0     0     0     0
6        0     0     0     0     0     0     0     0     0
7        0     0     0     0     0     0     0     0     0
8        0     0     0     0     0     0     0     0     0
9        0     0     0     0     0     0     0     0     0
10       0     0     0     0     0     0     0     0     0
11       0     0     0     0     0     0     0     0     0
12       0     0     0     0     0     0     0     0     0
13       0     0     0     0     0     0     0     0     0
14       0     0     0     0     0     0     0     0     0
15       0     0     0     0     0     0     0     0     0
16       0     0     0     0     0     0     0     0     0
17       0     0     0     0     0     0     0     0     0
18       0     0     0     0     0     0     0     0     0
19       0     0     0     0     0     0     0     0     0
20       0     0     0     0     0     0     0     0     0
21       0     0     0     0     0     0     0     0     0
22       0     0     0     0     0     0     0     0     0
23       0     0     0     0     0     0     0     0     0
24       0     0     0     0     0     0     0     0     0
25       0     0     0     0     0     0     0     0     0
26       0     0     0     0     0     0     0     0     0
27       0     0     0     0     0     0     0     0     0
28       0     0     0     0     0     0     0     0     0
29       0     0     0     0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
8792     0     0     0     0     0     0     0     0     0
8793     0     0     0     0     0     0     0     0     0
8794     0     0     0     0     0     0     0     0     0
8795     0     0     0     0     0     0     0     0     0
8796     0     0     0     0     0     0     0     0     0
8797     0     0     0     0     0     0     0     0     0
8798     0     0     0     0     0     0     0     0     0
8799     0     0     0     0     0     0     0     0     0
8800     0     0     0     0     0     0     0     0     0
8801     0     0     0     0     0     0     0     0     0
8802     0     0     0     0     0     0     0     0     0
8803     0     0     0     0     0     0     0     0     0
8804     0     0     0     0     0     0     0     0     0
8805     0     0     0     0     0     0     0     0     0
8806     0     0     0     0     0     0     0     0     0
8807     0     0     0     0     0     0     0     0     0
8808     0     0     0     0     0     0     0     0     0
8809     0     0     0     0     0     0     0     0     0
8810     0     0     0     0     0     0     0     0     0
8811     0    94     0     0     0     0     0     0     0
8812     0     0     0     0     0     0     0     0     0
8813     0     0     0     0     0     0     0     0     0
8814     0     0     0     0     0     0     0     0     0
8815     0     0     0     0     0     0     0     0     0
8816     0     0     0     0     0     0     0     0     0
8817     0     0     0     0     0     0     0     0     0
8818     0     0     0     0     0     0     0     0     0
8819     0     0     0     0     0     0     0     0     0
8820     0     0     0     0     0     0     0     0     0
8821     0     0     0     0     0     0     0     0     0

[8822 rows x 177 columns]>

In [153]:
#Standardize
# separate the data and target attributes
X = df_cust_mcc1_1.values
y = df_merch_mcc1_1.values
# standardize the data attributes
standardized_X = preprocessing.scale(X)
standardized_y = preprocessing.scale(y)

# Find all predicted ratings by multiplying the U by M
multi_custmerch_std_all = np.matmul(standardized_y, standardized_X)

pd.DataFrame(multi_custmerch_std_all).head()

C:\Users\kvibhaas\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
C:\Users\kvibhaas\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

,0,1,2,3,4,5,6,7,8,9,...,11815,11816,11817,11818,11819,11820,11821,11822,11823,11824
0,11.096907,-0.282276,-0.856846,-0.077051,7.020869,-2.005002,6.502589,-1.436922,-8.035150,-0.298927,...,0.509551,-0.429485,2.892730,0.029399,0.274848,-0.188255,0.437934,1.414088,-2.358628,0.441400
1,0.315034,-0.136669,-0.695917,0.135565,5.027054,4.650540,11.276720,11.613652,8.648944,-0.163956,...,0.694762,-0.236458,-1.497053,0.171882,0.396703,-0.035261,0.605508,2.992713,-2.145233,0.598576
2,3.458521,-0.346860,-0.928228,-0.171359,9.837041,7.237559,17.612815,18.429179,14.435582,-0.358794,...,0.427400,-0.515103,0.110774,-0.033800,0.220799,-0.256116,0.363606,6.747130,-2.453280,0.371684
3,3.168604,0.071397,-0.465956,0.439386,0.961539,-3.181340,2.622364,-2.525630,2.920820,0.028911,...,0.959420,0.039370,-1.385211,0.375485,0.570828,0.183360,0.844963,0.725044,-1.840300,0.823174
4,3.262053,-0.333723,-0.913708,-0.152176,9.536417,7.075870,17.216809,18.003208,14.073917,-0.346617,...,0.444110,-0.497688,0.010285,-0.020945,0.231793,-0.242313,0.378725,6.512479,-2.434027,0.385864

In [151]:
print(type(df_cust_mcc1_1.values))
print(type(df_merch_mcc1_1.values))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [154]:
# normalize the data attributes
normalized_X = preprocessing.normalize(X)
normalized_y = preprocessing.normalize(y)

# Find all predicted ratings by multiplying the U by M
multi_custmerch_nor_all = np.matmul(normalized_y, normalized_X)
pd.DataFrame(multi_custmerch_nor_all).head()

,0,1,2,3,4,5,6,7,8,9,...,11815,11816,11817,11818,11819,11820,11821,11822,11823,11824
0,0.010979,0.0,0.0,0.0,0.018822,0.001568,0.004705,0.009411,0.000000,0.0,...,0.0,0.0,0.009411,0.0,0.0,0.0,0.0,0.010979,0.0,0.0
1,0.006279,0.0,0.0,0.0,0.020406,0.009418,0.007849,0.032964,0.003139,0.0,...,0.0,0.0,0.006279,0.0,0.0,0.0,0.0,0.015697,0.0,0.0
2,0.006279,0.0,0.0,0.0,0.020406,0.009418,0.007849,0.032964,0.003139,0.0,...,0.0,0.0,0.006279,0.0,0.0,0.0,0.0,0.015697,0.0,0.0
3,0.012443,0.0,0.0,0.0,0.021775,0.000000,0.006221,0.013998,0.003111,0.0,...,0.0,0.0,0.009332,0.0,0.0,0.0,0.0,0.018664,0.0,0.0
4,0.006279,0.0,0.0,0.0,0.020406,0.009418,0.007849,0.032964,0.003139,0.0,...,0.0,0.0,0.006279,0.0,0.0,0.0,0.0,0.015697,0.0,0.0

In [157]:
pd.DataFrame(multi_custmerch_std_all).to_csv("multi_custmerch_std_all.csv")
pd.DataFrame(multi_custmerch_nor_all).to_csv("multi_custmerch_nor_all.csv")

In [172]:
# Save all the ratings to a csv file
predicted_ratings_all_df = pd.DataFrame(index=df_merch_mcc2.index,
                                    columns=df_cust_mcc1.columns,
                                    data=multi_custmerch_std_all)
#predicted_ratings_df.to_csv("predicted_ratings.csv")

ValueError: Shape of passed values is (11825, 8822), indices imply (11826, 8822)

In [162]:
multi_custmerch_std_all.shape

(8822, 11825)

In [167]:
df_cust_mcc1.columns

Index(['customer_id', '00015fc4-6fdc-4120-be42-a49e8bbe8cce',
       '000c0667-af47-4229-acec-8b98590d1752',
       '000caac6-9b6b-4a2e-81db-8cd765676a71',
       '0016ee8d-e2d6-4dd9-9559-3be13e9f53b5',
       '0019acea-38df-4de4-8b01-3b6dcf048f45',
       '002009ca-739b-48a6-a040-5d46b0ab402e',
       '0023c164-f35c-4f67-b706-d6954c0e816c',
       '002b0186-9b02-48ac-823e-44d66cc7684a',
       '002e4a53-c1b2-44cc-ac76-5823680d1ef1',
       ...
       'ffcae25b-ed4d-4237-91f4-c970fba7a551',
       'ffcebaf9-82e2-493d-8be6-dc18fe6fb9e5',
       'ffd6540c-b5e3-4cb5-872b-52487145cb3f',
       'ffdbb2b8-6152-4498-912b-b6e8cb722222',
       'ffdbd0f3-030c-4ea4-a329-f3e37b5d19bd',
       'ffded7ab-abeb-47b7-a69c-43f8d14f3df4',
       'ffe74ddf-acb1-4209-b33a-14f5cc7d23f0',
       'ffe83d72-182b-4d75-bbfe-0bd3f8a7c134',
       'ffee9ad7-c5f4-408f-82cc-e997e2b621af',
       'ffff74f5-1ced-41b6-b710-062b73061096'],
      dtype='object', length=11826)

In [168]:
df_merch_mcc2.index

RangeIndex(start=0, stop=8822, step=1)

In [170]:
print (range(df_merch_mcc2.shape[1]))

range(0, 178)

In [171]:
df_merch_mcc2.columns = range(df_merch_mcc2.shape[1])
df_merch_mcc2.head()

,0,1,2,3,4,5,6,7,8,9,...,168,169,170,171,172,173,174,175,176,177
0,#Bricks,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,#Instafit,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,#OFF Campus,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1 Oak Cafe & Bar,0,0,0,27,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1 UP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [173]:
df_merch_mcc2.shape

(8822, 178)

In [174]:
df_cust_mcc1.shape

(177, 11826)

In [175]:
df_cust_mcc1.head()

,customer_id,00015fc4-6fdc-4120-be42-a49e8bbe8cce,000c0667-af47-4229-acec-8b98590d1752,000caac6-9b6b-4a2e-81db-8cd765676a71,0016ee8d-e2d6-4dd9-9559-3be13e9f53b5,0019acea-38df-4de4-8b01-3b6dcf048f45,002009ca-739b-48a6-a040-5d46b0ab402e,0023c164-f35c-4f67-b706-d6954c0e816c,002b0186-9b02-48ac-823e-44d66cc7684a,002e4a53-c1b2-44cc-ac76-5823680d1ef1,...,ffcae25b-ed4d-4237-91f4-c970fba7a551,ffcebaf9-82e2-493d-8be6-dc18fe6fb9e5,ffd6540c-b5e3-4cb5-872b-52487145cb3f,ffdbb2b8-6152-4498-912b-b6e8cb722222,ffdbd0f3-030c-4ea4-a329-f3e37b5d19bd,ffded7ab-abeb-47b7-a69c-43f8d14f3df4,ffe74ddf-acb1-4209-b33a-14f5cc7d23f0,ffe83d72-182b-4d75-bbfe-0bd3f8a7c134,ffee9ad7-c5f4-408f-82cc-e997e2b621af,ffff74f5-1ced-41b6-b710-062b73061096
0,1001,0,1,5,1,0,6,0,0,0,...,0,7,0,3,0,0,0,3,2,0
1,1002,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,8,0,0,0,14,0,4,9,2,...,0,0,6,0,0,0,0,12,0,0
4,1006,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,1,0

In [178]:
multi_custmerch_std_all.shape

(8822, 11825)

In [179]:
df_cust_mcc2 = df_cust_mcc1.iloc[:, 1:]

In [180]:
df_cust_mcc2.shape

(177, 11825)